@import "../../../styles/variables.scss";

.sidebar {
  position: absolute;
  width: 33.3333%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 40px;
}
.title {
  padding: 10px;
}

.text {
  margin: 0;
}

.listings {
  height: 100%;
  overflow: auto;
  list-style-type: none;
  padding: 0 0 60px 0;
  margin: 0;
}

.item {
  border-bottom: 1px solid $border-color;
  padding: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $light-grey;
  }

  &:last-child {
    border-bottom: none;
  }
}

.icon {
  font-size: 28px;
  margin-right: 5px;
}

.itemTitle {
  display: block;
  font-weight: 700;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.item.active .itemTitle,
.title:hover {
  color: $item-active;
}

.item.active {
  background-color: $light-grey;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: $item-active;
  border-radius: 0;
}
