//colors
$base: #333;
$subtitle: #737373;
$marker-hover: #f2f2f2;
$item-active: #00b4d3;
$border-color: #eee;
$light-grey: #f8f8f8;

//fonts
$open-sans-default: 400 15px/22px "Open Sans", "Source Sans Pro",
  "Helvetica Neue", sans-serif;
